<div class="row" style="margin-top:10px;">

  <div class="col-md-2 " >
      <div class="entete">
          <h3>Control panel</h3>
      </div>
      <div class="side-bar">
        <ul>
          <mat-list-item> <a routerLink="./list-user"> <i class="fas fa-users"></i> Users Management </a> </mat-list-item>
          <mat-list-item> <a routerLink="./"> Skills Management </a> </mat-list-item>
          <mat-list-item> <a routerLink="./#"> Tasks Management </a> </mat-list-item>
          <mat-list-item> <a routerLink="./#"> Task Management </a> </mat-list-item>
        </ul>
      </div>
  </div>
  <div class="col-md-9">
    <h1>Gestion des utilisateurs</h1>
    <router-outlet></router-outlet>
  </div>
</div>
