.side-bar{
  background-color:rgb(228, 222, 222);
  border-radius: 10px 10px 10px 10px;
  height: 100%;
}
.entete{
  background-color: rgb(228, 222, 222);
  border-radius: 10px 10px 10px 10px;
  padding: 5px;
  margin-bottom: 10px;
}
