<div class="register">

  <div class="regist">
    <mat-card>
    <mat-card-header style="background-color:aqua;">
      <mat-card-title> <h1>User</h1></mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form >
        <div>
          <mat-form-field class="example-full-width">
            <i class="fas fa-user"></i>
            <input class="form-control" matInput type="text" id="name" value="{{user.name}}">
        </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <i class="fas fa-lock"></i>
            <input class="form-control" matInput type="text" id="role" value="{{user.role}}">
        </mat-form-field>
        </div>

        <mat-card-actions>
          <button mat-raised-button type="submit" color="primary" value="submit">Register</button>
          <button mat-raised-button type="submit" color="primary">Delete</button>
        </mat-card-actions>
      </form>
       <a routerLink="./list-user">Cancel</a>
    </mat-card-content>
  </mat-card>
  </div>

</div>
