<div class="User-details">

  <div class="User-detail" >
    <mat-card style="height:100%">
    <mat-card-header style="background-color:aqua; text-align:center">
      <mat-card-title style="text-align:center"><h1>User-details</h1></mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <div class="detail">
            <span>
                <i class="fas fa-user"></i>
              Username: {{data.name}}
            </span>
        </div>
        <div class="detail">
          <span>
              <i class="fas fa-lock"></i>
              Role: {{data.role}}
          </span>
        </div>
        <!--<button type="submit" class="btn btn-primary" (click)="onDialogClose()">close</button>-->
    </mat-card-content>
  </mat-card>
  </div>

</div>
